= form_for @form, :html => {:class => 'form'} do |f|
  .form-fields.container
    .row
      .col-md-8.offset-md-2
        .form-group.col-md-12
          = f.label :driver, :class => 'control-label col-md-3'
          .col-md-9= f.select :driver_id, options_from_collection_for_select(User.drivers.decorate, 'id', 'to_s', @form.driver_id), {:include_blank => 'None'}, {:class => 'form-control'}
        .form-group.col-md-12
          = f.label :route, :class => 'control-label col-md-3'
          .col-md-9= f.select :route_id, options_from_collection_for_select(Route.all.decorate, 'id', 'to_s', @form.route_id), {:include_blank => 'None'}, {:class => 'form-control'}
        .form-group.col-md-12
          = f.label :time, :class => 'control-label col-md-3'
          .col-md-9= f.select :schedule_id, options_from_collection_for_select(Schedule.all.decorate, 'id', 'to_s', @form.schedule_id), {:include_blank => 'None'}, {:class => 'form-control'}
        .form-group.col-md-12.submit-button
          .col-md-3.offset-md-3= f.submit 'Save', :class => 'btn btn-primary col-md-12'
          .col-md-3= link_to 'Cancel', :trips, :class => 'btn btn-outline-danger col-md-12'
