#trips.col-md-12
  = link_to '+ New Trip', [:new, :trip], :class => 'btn btn-outline-primary'

  %br
  %br

  %table.table.table-striped
    %thead.bg-primary
      %tr
        %th ID
        %th Route
        %th Schedule
        %th Driver
        %th Vehicle
        %th Status
        %th Riders
        %th Revenue
        %th
        %th
    %tbody
      - trips.each do |trip|
        %tr
          %td= trip.id
          %td= trip
          %td= trip.trip_date
          %td= trip.driver
          %td Toyota Vios - AAH215
          %td= trip.state.humanize
          %td= trip.riders.count
          %td= trip.revenue
          %td
            - unless trip.finished?
              = link_to 'Edit', [:edit, trip]
          %td= link_to 'Delete', trip, :method => :delete, :data => { :confirm => 'Are you sure?' }
