#points.col-md-12
  = link_to '+ New Point', [:new, :point], :class => 'btn btn-outline-primary'

  %br
  %br

  %table.table.table-striped
    %thead.bg-primary
      %tr
        %th ID
        %th Point
        %th
        %th
    %tbody
      - Point.all.each do |point|
        %tr
          %td= point.id
          %td= point.name
          %td= link_to 'Edit', [:edit, point]
          %td= link_to 'Delete', point, :method => :delete, :data => { :confirm => 'Are you sure?' }
