= form_for @form, :html => {:class => 'form'} do |f|
  .form-fields.container
    .row
      .col-md-8.offset-md-2
        .form-group.col-md-12
          = f.label :first_name, :class => 'control-label col-md-3'
          .col-md-9= f.text_field :first_name, :placeholder => 'First Name', :class => 'form-control'
        .form-group.col-md-12
          = f.label :last_name, :class => 'control-label col-md-3'
          .col-md-9= f.text_field :last_name, :placeholder => 'Last Name', :class => 'form-control'
        .form-group.col-md-12
          = f.label :email_address, :class => 'control-label col-md-3'
          .col-md-9= f.email_field :email, :placeholder => 'Email', :class => 'form-control'
        .form-group.col-md-12
          = f.label :mobile_number, :class => 'control-label col-md-3'
          .col-md-9= f.text_field :phone, :placeholder => 'Mobile Number', :class => 'form-control'
        .form-group.col-md-12
          = f.label :role, :class => 'control-label col-md-3'
          .col-md-2= f.select :role_id, options_from_collection_for_select(Role.all, 'id', 'name', @form.role_id), {:include_blank => 'None'}, {:class => 'form-control'}
        .form-group.col-md-12.submit-button
          .col-md-3.offset-md-3= f.submit 'Save', :class => 'btn btn-primary col-md-12'
          .col-md-3= f.submit 'Cancel', :class => 'btn btn-outline-danger col-md-12'
