#users.col-md-12
  = button_tag '+ New User', :type => 'button', :class => 'btn btn-outline-primary'

  %br
  %br

  %table.table.table-striped
    %thead.bg-primary
      %tr
        %th ID
        %th Name
        %th Balance
        %th
    %tbody
      - User.all.each do |user|
        %tr
          %td= user.id
          %td= "#{user.first_name} #{user.last_name}"
          %td Php 250.00
          %td= link_to 'Edit', '#'
