!!!
%html{ :lang => 'en' }
  %head
    = csrf_meta_tags
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    %meta{ :charset => 'utf-8' }/
    %meta{ :content => 'IE=edge', :'http-equiv' => 'X-UA-Compatible' }/
    %meta{ :content => 'width=device-width, initial-scale=1', :name => 'viewport'}/
    %title RideWave Admin

  %body
    .container
      %nav.navbar.navbar-dark.bg-primary
        .navbar-brand= link_to 'RideWave Admin', :root
        %ul.nav.navbar-nav
          %li.nav-item= link_to 'Upcoming', [:upcoming, :trips], :class => 'nav-link'
          %li.nav-item= link_to 'Trips', :trips, :class => 'nav-link'
          %li.nav-item= link_to 'Users', :users, :class => 'nav-link'
          %li.nav-item= link_to 'Routes', :routes, :class => 'nav-link'
          %li.nav-item= link_to 'Schedules', :schedules, :class => 'nav-link'
          %li.nav-item= link_to 'Points', :points, :class => 'nav-link'
          %li.nav-item= link_to 'Vehicles', :vehicles, :class => 'nav-link'
          %li.nav-item= link_to 'Accounts Payable', [:accounts_payable, :users], :class => 'nav-link'
        #persona.float-md-right Hi, Enzo
      .row
        .col-md-12
          #errors
            - if flash.present?
              .row
                .col-md-12
                  - flash.each do |name, msg|
                    = alert_tag msg, name, :dismissable => true
      .row
        = yield
